<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>David Galera</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento"
      rel="stylesheet"
    />
    <link rel="icon" href="static/favicon.ico" />
  </head>

  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/cloud.png" alt="cloud" />
      <div class="title-text">
        <h1>I'm David.</h1>
        <h2 style="color: white">a <span class="pro">pro</span>grammer.</h2>
      </div>
      <img class="bottom-cloud" src="static/cloud.png" alt="cloud" />
      <img class="mountain" src="static/mountain.png" alt="mountain-img" />
    </div>

    <div class="middle-container">
      <div class="profile">
        <img
          class="profile-img"
          src="static/london.jpg"
          alt="angela-profile-img"
        />
        <h2>Hi!</h2>
        <p class="intro">
          I hold an engineering degree and a Master in Data Science and I'm
          passionate about the transformative power of data. Advances in
          technology have taken me into the dynamic realms of Data Science 📈,
          Machine Learning 🧠, Software Development 👨‍💻 and the exciting world of
          Big Data 🛢. I am a dedicated 'phytonista' 🐍, leveraging the
          versatility and strength of Python to extract insights and develop
          cutting-edge solutions in the data-driven landscape. With a strong
          foundation in engineering and a deep-rooted curiosity for data, I am
          committed to harnessing the potential of information to drive
          innovation and solve complex challenges. Welcome to my data-driven
          journey!
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>Portfolio projects</h2>
        <div class="skill-row">
          <img class="code-img" src="static/neuralnet.png" alt="code-img" />

          <h3>NeuralNet for manufacturing control data</h3>
          <p>
            Project part of a Kaggle Machine Learning competition of my Master's
            degree. I trained a neural network with 900.000 instances of 33
            features each using Tensorflow to predict a binary output. I applied
            feature engineering and feature interaction to spot patterns and
            transform the data to achieve 97.4% accuracy.
          </p>
        </div>
        <div class="skill-row">
          <img
            class="chilli-img"
            src="static/labyrinth.png"
            alt="chillies-img"
          />

          <h3>Labyrinth Challenge</h3>
          <p>
            The goal of this challenge is to design an efficient algorithm that
            returns the minimum number of moves required by an object to
            traverse the input grid. The grid is a matrix with some blocked
            cells and the object is a rod composed of 3 adjacent cells...
          </p>
        </div>
        <div class="skill-row">
          <img class="code-img" src="static/recommender.png" alt="code-img" />

          <h3>Movie recommender engine</h3>
          <p>
            Recommender engine based on the movielens dataset. I implemented 3
            approaches to recommend movies: Non personalized, content based with
            an implementation of a Naive Bayes spam filter and finally
            collaborative filtering (item-item and user-user).
          </p>
        </div>

        <div class="skill-row">
          <img class="chilli-img" src="static/cluster.png" alt="chillies-img" />

          <h3>Clustering election data</h3>
          <p>
            I performed a clustering of election results per region. I used DS
            techniques, including high dimensional outlier detection with
            Mahalanobis distance, standardization, K-Means clustering and
            validation with prediction-strength method.
          </p>
        </div>
        <div class="skill-row">
          <img class="code-img" src="static/CIFAR.png" alt="code-img" />

          <h3>Image classification on the CIFAR-10 dataset</h3>
          <p>
            Image classificacion on the CIFAR-10 dataset with the fastai library
            using resnet34 and resnet50 pretrained CNN. Applied Data
            augmentation techniques such as mixup.
          </p>
        </div>

      <div class="skill-row">
        <img class="chilli-img" src="static/flight.png" alt="chillies-img" />

        <h3>Flight deals search engine</h3>
        <p>
          Working with several APIs. Read flight prices to several destinations
          from a Google sheet file using the Sheety API. Use the Tequila API to
          fetch flight data, searching for flights that meet criteria. Send an
          email if the fetched price is lower than the one in the sheet and
          update it.
        </p>
      </div>
      <div class="skill-row">
        <img class="code-img" src="static/blog.png" alt="code-img" />

        <h3>Full-Featured Blog Web APP</h3>
        <p>
          Personal Blog web app built with Flask, HTML, JS, CSS and bootstrap. Users, posts and post messages are stored in a SQLite db. Allowing user authentication to login and post messages, password encryption and admin privileges to publish/delete posts. Data is dynamically rendered from the database.
        </p>
      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/topfilms.png" alt="chillies-img" />

        <h3>Top films Web APP</h3>
        <p>
          Built with Flask. Backend functionality allows to add/delete films, edit rating and review of a particular film. User types the name of the film and the backend calls the moviedb API to fetch the data and store it in a SQLite db. Films are rendered dynamically from the db in order according to rating.
        </p>
      </div>
      <div class="skill-row">
        <img class="code-img" src="static/coffee.png" alt="code-img" />

        <h3>
          Cafe & Wifi API REST</h3>
        <p>
          Built a REST API Service to request data stored in a Coffee Shops SQLite db. GET a random coffee shop, GET all coffee shops, search all shops at a particular location, POST a new shop (insert to the database), PATCH coffee price at a particular shop given its database id and DELETE a coffee shop from the db.
        </p>
      </div>
    </div>


      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Open to business opportunities.</h3>
        <p class="contact-message">If you have a project, partnership or idea you'd like to discuss, please feel free to reach out.</p>
        <a class="btn" href="mailto:raizen74@gmail.com">CONTACT ME</a>
      </div>
    </div>
  
  
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/david-galera-alfaro/">LinkedIn</a>
      <a class="footer-link" href="https://github.com/raizen74">GitHub</a>
      <p class="copyright">© 2023 David Galera.</p>
    </div>
  </body>
  
  </html>
